<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="static/footer.css">
    <link rel="stylesheet" th:href="@{/css/footer.css}" href="../css/footer.css" />
</head>
<body>

<footer th:fragment="footer" class="footer">
    <span>Email: buysell@gmail.com &nbsp;&nbsp;&nbsp;&nbsp; Phone: 641 451 85 69</span><br/><br/>
    <span>Copyright ©2019 BuySell. &nbsp;&nbsp;&nbsp;&nbsp;All rights reserved.</span>
</footer>

</body>
</html>