<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:field="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{profile/{pid}/edit(pid=${user.id})" th:object="${user}">
    <label for="name">Name</label>
    <input type="text" field:th="${name}" id="name">

    <label for="email">Name</label>
    <input type="text" field:th="${email}" id="email">

    <label for="city">City</label>
    <input type="text" field:th="${city}" id="city">

     <label for="state">State</label>
    <input type="text" field:th="${state}" id="state">

    <label for="street">Street</label>
    <input type="text" field:th:="${street}" id="street">

    <label for="zipcode">Zip Code</label>
    <input type="text" field:th:="${zipcode}" id="zipcode">

    <input type="submit" value="Update Profile">

</form>

</body>
</html>