<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Orders</title>
</head>
<body>

<h1>Manage Orders:</h1>


<div th:each="userOrder: ${orders}" align="center">
    <h3 th:text="'Order Number:' + ${userOrder.id}" ></h3>
    <span th:text="${userOrder.cart.buyer.name}" ></span> &nbsp;
    <span th:text="${userOrder.status}" ></span>
    <br />
    <span th:text="${userOrder.cart.buyer.addressList[0].street}" ></span>
    <br />
    <span th:text="${userOrder.cart.buyer.addressList[0].city}" ></span> &nbsp;
    <span th:text="${userOrder.cart.buyer.addressList[0].state}" ></span>
    <br />
    <span th:text="${userOrder.cart.buyer.addressList[0].zipCode}" ></span>
    <br />
    <ul>
        <li th:each="prod: ${userOrder.cart.productList}">
            <span th:text="${prod.name}"></span> &nbsp;
            <span th:text="${prod.seller.name}"></span> &nbsp;
            <span th:text="${prod.price}"></span>
        </li>
    </ul>
    <h4 th:text="${userOrder.cart.totalPrice}" ></h4>

    <span th:text="${userOrder.createDate}" ></span>
    <form method="post" th:action="@{/seller/order/{id}/cancel (id = ${userOrder.id})}" >
        <input type="submit" value="Cancel Order" />
    </form>
    <form method="post" th:action="@{/seller/order/{id}/shipping (id = ${userOrder.id})}" >
        <input type="submit" value="Ship Order" />
    </form>
</div>

</body>
</html>