<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Seller</title>
</head>
<body>
<div th:each="seller:${manageSeller}">

<!--<p th:if="${seller.status==null}">-->
 <p>
    Status:<span th:text="${seller.status}"></span>
    Name: <span th:text="${seller.name}"></span>
    <form th:action="@{/users/addSeller/{id} (id = ${seller.id})}" method="post">
    <input type="submit" value="Approve">
</form>
    <form th:action="@{/users/removeSeller/{id}(id=${seller.id})}" method="post">
        <input type="submit" value="Deny">
    </form>
</p>

<!--<p th:unless="${seller.status==null}">-->
<!--    <label>Image: </label>-->
<!--    <label >Name: </label><h6 th:text="${seller.name}"></h6>-->
<!--</p>-->

</div>



</body>
</html>