<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org" xmlns:src="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>
    <h3>Profile</h3>
    <div>

        <img src:th="@{/img/userimg.png}">
        Name: <p></p>
        Email: <p></p>
        City: <p></p>
        Street: <p></p>
        State: <p></p>
        ZipCode: <p></p>

        <form th:action="@{/profile/{id}/edit}">
            <input type="submit" value="Edit Profile">
        </form>





    </div>



</body>
</html>