<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/main.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/registerForm.css}" href="../css/registerForm.css"/>
</head>
<body>

<h1 style="text-align: center">Registration Form</h1>

<div class="container">
    <form action="#" th:action="@{/register_save}" th:object="${user}" method="post">
        <div class="row">
            <div class="col-25">
                <label for="name">Full Name:</label>
            </div>
            <div class="col-75">
                <input type="text" id="name" th:field="*{name}" placeholder="name">
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:errorclass="fieldError">Error</p>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="email">Email:</label>
            </div>
            <div class="col-75">
                <input type="text" id="email" th:field="*{email}" placeholder="email">
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:errorclass="fieldError">Error</p>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="password">Password:</label>
            </div>
            <div class="col-75">
                <input type="text" id="password" th:field="*{password}" placeholder="password">
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:errorclass="fieldError">Error</p>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="type">AccountType:</label>
            </div>
            <div class="col-75">
                <select id="type" th:field="*{type}">
                    <option th:value="'buyer'">Buyer</option>
                    <option th:value="'seller'">Seller</option>
                </select>
            </div>
        </div>


        <div class="row" style="text-align: center">
            <h2>Shipping Address</h2>
        </div>



        <div class="row">
            <div class="col-25">
                <label for="shipping_state">State:</label>
            </div>
            <div class="col-75">
                <input type="text" id="shipping_state" name="state" placeholder="2 letter state abbreviation"
                       th:field="*{shippingAddress.state}">
                <p th:if="${#fields.hasErrors('shippingAddress.state')}" th:errors="*{shippingAddress.state}"
                   th:errorclass="fieldError">Error</p>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="shipping_zip">ZIP Code:</label>
            </div>
            <div class="col-75">
                <input type="text" id="shipping_zip" th:field="*{shippingAddress.zipCode}" placeholder="Zip Code">
                <p th:if="${#fields.hasErrors('shippingAddress.zipCode')}" th:errors="*{shippingAddress.zipCode}"
                   th:errorclass="fieldError">Error</p>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="shipping_city">City:</label>
            </div>
            <div class="col-75">
                <input type="text" id="shipping_city" th:field="*{shippingAddress.city}" placeholder="city">
                <p th:if="${#fields.hasErrors('shippingAddress.city')}" th:errors="*{shippingAddress.city}"
                   th:errorclass="fieldError">Error</p>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="shipping_street">Street:</label>
            </div>
            <div class="col-75">
                <input type="text" id="shipping_street" th:field="*{shippingAddress.street}" placeholder="street">
                <p th:if="${#fields.hasErrors('shippingAddress.street')}" th:errors="*{shippingAddress.street}"
                   th:errorclass="fieldError">Error</p>
            </div>
        </div>


        <div class="row" style="text-align: center">
            <h2>Billing Address</h2>
        </div>


        <div class="row">
            <div class="col-25">
                <label for="billing_state">State:</label>
            </div>
            <div class="col-75">
                <input type="text" id="billing_state" placeholder="2 letter state abbreviation"
                       th:field="*{billingAddress.state}">
                <p th:if="${#fields.hasErrors('billingAddress.state')}" th:errors="*{billingAddress.state}"
                   th:errorclass="fieldError">Error</p>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="billing_zip">ZIP Code:</label>
            </div>
            <div class="col-75">
                <input type="text" id="billing_zip" th:field="*{billingAddress.zipCode}" placeholder="Zip Code">
                <p th:if="${#fields.hasErrors('billingAddress.zipCode')}" th:errors="*{billingAddress.zipCode}"
                   th:errorclass="fieldError">Error</p>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="billing_city">City:</label>
            </div>
            <div class="col-75">
                <input type="text" id="billing_city" th:field="*{billingAddress.city}" placeholder="city">
                <p th:if="${#fields.hasErrors('billingAddress.city')}" th:errors="*{billingAddress.city}"
                   th:errorclass="fieldError">Error</p>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="billing_street">Street:</label>
            </div>
            <div class="col-75">
                <input type="text" id="billing_street" th:field="*{billingAddress.street}" placeholder="street">
                <p th:if="${#fields.hasErrors('billingAddress.street')}" th:errors="*{billingAddress.street}"
                   th:errorclass="fieldError">Error</p>
            </div>
        </div>


        <div class="row" style="text-align: center">
            <h2>Debit/Credit Card Information</h2>
        </div>



        <div class="row">
            <div class="col-25">
                <label for="billing_state">Name on Card:</label>
            </div>
            <div class="col-75">
                <input type="text" id="name_on_card" placeholder="Name on card" th:field="*{creditCard.name}">
                <p th:if="${#fields.hasErrors('creditCard.name')}" th:errors="*{creditCard.name}"
                   th:errorclass="fieldError">Error</p>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="billing_zip">Expiration Date:</label>
            </div>
            <div class="col-75">
                <input type="text" id="expiration_date" th:field="*{creditCard.validDate}"
                       placeholder="Format: MM/YY     Example: 05/20">
                <p th:if="${#fields.hasErrors('creditCard.validDate')}" th:errors="*{creditCard.validDate}"
                   th:errorclass="fieldError">Error</p>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="billing_city">Card Number:</label>
            </div>
            <div class="col-75">
                <input type="text" id="card_number" th:field="*{creditCard.number}" placeholder="city">
                <p th:if="${#fields.hasErrors('creditCard.number')}" th:errors="*{creditCard.number}"
                   th:errorclass="fieldError">Error</p>
            </div>
        </div>


        <br/>
        <div class="row">
            <input type="submit" value="Sign Up">
        </div>
    </form>
</div>


</body>
</html>